language: node_js
node_js:
  - stable
before_install:
  - curl -L https://raw.githubusercontent.com/arunoda/travis-ci-meteor-packages/master/configure.sh | /bin/sh
  - npm install -g codeclimate-test-reporter
before_script:
  - export PATH=$HOME/.meteor:$PATH
script:
  - mkdir .coverage
  - npm run test:coverage
  - CODECLIMATE_REPO_TOKEN=3693a6c7e1ce82d10afdad4c051f7fca70764e34480af55184d88fde6cf379ce codeclimate-test-reporter < .coverage/lcov.info
